<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>404 Error</title>
  <link rel="stylesheet" href="../../static/css/error.css" th:href="@{/css/error.css}" />
<!--  <link rel="icon" type="image/x-icon" href="/img/icon.ico" />-->
</head>
<body>
<div class="container">
  <div class="row">
    <div class="xs-12 md-6 mx-auto">
      <div id="countUp">
        <div class="number" data-count="404">404</div>
        <div class="text">Recurso indisponível!</div>
        <div class="text">Pedimos desculpas, este recurso não está disponível.</div>
      </div>
    </div>
  </div>
</div>

</body>
</html>